* {
  font-family: Arial;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}

.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.5);
  }
}
.ripple-background {
  z-index: 1;
}
body {
  background: #3399ff;
  height: 100px;
  margin: 0 auto;
}

h1 {
	margin-left:10%;
  font: white;
  font-size: 350%;
}

img {
  margin-left: 5%;
  width: 200px;
  height: 200px;
  float: left;
}

.glowna {
  background-color: rgba(232, 234, 237, 1);
  margin-left: 45%;
  margin-right: 1%;
  margin-top: 6%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  border-radius: 25px;
  opacity: 0.97;
  border-style: solid;
}
.tabelka{
  margin-left: auto;
  margin-right: auto;
}

.cena {
  text-align: right;
}

main {
  height: 1500px;
}

footer {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #6a93cb;
  background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
  margin-top: 10%;
  margin-bottom: 0%;
  text-align: right;
}

.cennik4 {
  background-color: #77b9fa;
}

.cennik3 {
  background-color: #87b7e7;
}

.cennik {
  background-color: #78c0fa;
}

table, tr, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  background-color: #3399ff;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left:auto;
  margin-right: auto;
}
main {
  margin-bottom: 0px;
}

.menu {
  margin-top: 10%;
  margin-left: 1%;
  background: linear-gradient(to bottom, #3399ff 8%, #ffffff 91%);
  padding-right: 8%;
  border-radius: 25px;
  border-style: solid;
  float: left;
  opacity: 0.97;
}

a:link{
	color:black;
	text-decoration:none;
}

a:visited{
	color:black;
	text-decoration:none;
}

a:hover{
	color:purple;
	text-decoration:none;
}
