* {
  font-family: Arial;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}

.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.5);
  }
}

body {
  background: #3399ff;
  height: 100px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font: white;
  font-size: 350%;
}

.li1 {
  font-size: 150%;
  background-color: rgba(232, 234, 237, 1);
  margin-left: 20%;
  margin-top: 5%;
  margin-right: 2%;
  padding-bottom: 3%;
  padding-top: 2%;
  padding-right: 2%;
  text-align: left;
  border-radius: 25px;
  border-style:solid;
  opacity: 0.97;
}

img {
  margin-left: 5%;
  width: 200px;
  height: 200px;
  float: left;
}

.cena {
  text-align: right;
}

button {
  background-color: lightblue;
  font-size: 100%;
  float: right;
}

main {
  height: 1500px;
}

footer {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #6a93cb;
  background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
  margin-top: 15%;
  bottom: 0px;
  text-align: right;
}

.menu
{
	margin-top:3%;
	margin-left:1%;
	background: linear-gradient(to bottom, #3399ff 8%, #ffffff 91%);
	padding-right:8%;
	border-radius: 25px;
	border-style:solid;
	opacity: 0.97;
	float:left;
	clear:left;	
}

a:link{
	color:black;
	text-decoration:none;
}

a:visited{
	color:black;
	text-decoration:none;
}

a:hover{
	color:purple;
	text-decoration:none;
}


